/*-- list of colors of the theme --*/
$color1: #a0025c;
$color-link:#dbb40c;

// navigation
$navbar-bg: $color1;
$link-color: $color-link;

// OTHER OPTIONS
//$code-color: #88388A;
//$code-bg: #88388A;
//$code-block-bg-alpha: -0.5;
//$code-block-border-left: TRUE;
//$code-block-border-left-style: solid;

// font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppins: 'Poppins', sans-serif;

/*-- scss:rules --*/


h1 {
  font-family: $poppins;
  font-size: 40px;
  color: $color-link;
  text-align: center;
}

body {
  font-family: $poppins;
  font-size: 20px;
  color: black;
}

.body_centered {
  font-family: $poppins;
  font-size: 20px;
  color: black;
  text-align: center;
}