/*-- list of colors of the theme --*/
$color1: #a0025c;
$color-link:#dbb40c;
$color4: #fffff4;
$black: #070d0d;


// navigation
$navbar-bg: $color1;
$link-color: $color-link;


// OTHER OPTIONS
//$code-color: #88388A;
//$code-bg: #88388A;
//$code-block-bg-alpha: -0.5;
//$code-block-border-left: TRUE;
//$code-block-border-left-style: solid;


// callout block
$callout-color-note: #88388A;
$callout-color-tip: #88388A;


// font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppins: 'Poppins', sans-serif;

/*-- scss:rules --*/

.maintitle {
  font-family: $poppins;
  font-size: 40px;
  color: $color-link;
}

.position {
  font-family: $poppins;
  font-size: 25px;
  color: #9a0200;
  font-weight: bold;
}

.place {
  font-family: $poppins;
  font-size: 20px;
  color: #9a0200;
}
